node_modules/
node_modules
.expo/
.expo
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env*
.env.*
.env*.local

# macOS
.DS_Store

.env.local
.env.staging

android/
android
ios/
ios
